

@{
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}
<link href="~/css/index.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />

<div class="content">
    <div id="main" class="main-wrap">
        <div class="main-bg">
            <div class="bg_item" style="background-image: url(/img/all-fon.jpg);"></div>
            <div class="bg_item" style="background-image: url(/img/all-fon.jpg);"></div>
            <!-- <img src="img/main_bg.png"> -->
        </div>
        <div class="main const-container">
            <h1>Не давай рыбу, дай удочки!</h1>
            <div class="video-block">
                <iframe src="https://www.youtube.com/embed/OMWkOTvpRs0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="sect-nav">
        <a href="#!">Отбасыға жылу сыйла</a>
        <a href="#!">Берекелі айт</a>
        <a href="#!">Мектепке жол</a>
        <a href="#!">Берекелі айт</a>
        <a href="#!">Киім тарату</a>
        <a href="#!">Киім</a>
    </div>
    <div class="help-wrap">
        <div class="help const-container">
            <h2 class="const-h2">Сенімділік Төлқұжат</h2>
            <div class="help_items">

                <!-- MODAL -->
                <div class="modal-screen">
                    <div class="modal-bg"></div>
                    <div class="modal-window">
                        <div class="modal-section">
                            <img src="">
                        </div>
                    </div>
                </div>
                <!-- MODAL -->

                <div class="senim">
                    <div class="img-big">
                        <img src="~/img/svid.png">
                    </div>
                    <div class="img-mini">
                        <img src="~/img/svid.png">
                        <img src="~/img/svid.png">
                    </div>
                </div>
                <div class="pay_block">
                    <div class="pay_nav">
                        <div class="pay_nav_active">
                            <img src="~/img/pay_icons/visa.png">
                        </div>
                        <div>
                            <img src="~/img/pay_icons/kaspi.png">
                            <span>Kaspi GOLD</span>
                        </div>
                        <div>
                            <img src="~/img/pay_icons/paybox.png">
                        </div>
                        <div>
                            <img src="~/img/pay_icons/bank.png">
                            <span>БАНК</span>
                        </div>
                        <div>
                            <img src="~/img/pay_icons/convert.png">
                            <span>Конверт</span>
                        </div>
                        <div>
                            <img src="~/img/pay_icons/office.png">
                            <span>Офис</span>
                        </div>
                    </div>
                    <div class="pay_body pay_body_active">
                        <div class="pay_form">
                            <p>Cіз мұнда банк картасынан қаражат жіберу арқылы мұқтаждарға көмектесе аласыз!</p>
                            <input type="number" placeholder="Төлем мөлшері">
                        </div>
                        <div class="pay_btn_block">
                            <button class="pay_btn1">Көмектесу</button>
                            <button class="pay_btn2">Кері байланыс</button>
                        </div>
                    </div>
                    <div class="pay_body pay_body_kaspi">
                        <img src="~/img/gold.png">
                        <div class="kaspi_text">
                            <p>Азамат Сырлыбайұлы <br><b>+7 (707) 965 53 93</b></p>
                            <br>
                            <p>ИИН: <b>950 327 300 878</b></p>
                            <p>Карта: <b>5169-4971-1773-3646</b></p>
                            <p>Счет: <b>KZ09722C000019127910</b></p>
                        </div>
                    </div>
                    <div class="pay_body">
                        <div class="pay_form">
                            <p>Cіз мұнда банк картасынан қаражат жіберу арқылы мұқтаждарға көмектесе аласыз!</p>
                            <input type="number" placeholder="Төлем мөлшері">
                            <div class="pay_icons">
                                <img src="~/img/pay_icons/kassa24.png">
                                <img src="~/img/pay_icons/alfa-logo.png">
                            </div>
                        </div>
                        <div class="pay_btn_block">
                            <button class="pay_btn1">Көмектесу</button>
                            <button class="pay_btn2">Кері байланыс</button>
                        </div>
                    </div>
                    <div class="pay_body pay_body_bank">
                        <span style="display: block; margin-bottom: 5px;">
                            Реквизиты для перечисление на расчетный счет фонда: <strong>"Мейірім Шуағы"</strong>
                        </span>

                        @*<span>
                                <strong>БИК:</strong> CASPKZKA
                            </span>*@
                        <span>
                            <strong>БИН:</strong> 180140011767
                        </span>
                        <span>
                            <strong>Р/счет:</strong> KZ94722S000002412383 в АО «Kaspi Bank»
                        </span>
                        <span>
                            <strong>БИК:</strong> CASPKZKA
                        </span>
                        <span>
                            <strong>Кбе:</strong> 18
                        </span>
                        @*<span>
                                <strong>КНП:</strong> 119
                            </span>*@
                        <span>
                            <strong>Адрес:</strong> Шымкент г.а., Шымкент, Шолохова , дом 179А
                        </span>
                    </div>
                    <div class="pay_body pay_body_convert">
                        <p>Көмектесу үшін <span style="font-family: MyBold;">"Мейірім конвертіне"</span> тапсырыс бере аласыз.<br />ТАПСЫРЫС БЕРУ:</p>
                        <!-- <p>ТАПСЫРЫС БЕРУ:</p> -->
                        <div class="convert_form">
                            <input type="text" placeholder="Аты-жөніңіз">
                            <input type="tel" placeholder="Телефон">
                            <button>ТАПСЫРЫС БЕРУ</button>
                            <p>Біз сізге жақын уақытта "Мейірім конвертін" жеткізіп береміз</p>
                        </div>
                    </div>
                    <div class="pay_body pay_body_convert">
                        <p>Сіз біздің офиске келіп көмектесе аласыз.</p>
                        <strong>Біздің мекен-жайымыз:</strong>
                        <p>Шымкент қ. Отырар ш.а 52/3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-wrap">
        <div class="service const-container">
            <h2>Қор жұмысының реттілігі</h2>
            <!-- <img src="img/service_icons/line.png"> -->
            <img class="line" src="~/img/service_icons/strela.png">
            <img class="line_mini" src="~/img/service_icons/strela-mini.png">
            <div class="service_items">
                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>Өтініштерді жию</h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>
                            <span>Отбасылар арасында</span>
                            сауалнама жүргізу
                        </h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>Сауалнамаларды саралау</h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>Көмекті әзірлеу</h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>Көмекті жеткізу</h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

                <div class="service_item">
                    <img src="~/img/pay_icons/convert.png">
                    <div class="service_text">
                        <h3>Есеп беру</h3>
                        <p>
                            Аудан әкімшіліктерінен әлеуметтік жағдайы
                            төмен отбасылардың тізімін алу және қорымызға
                            түскен өтініш хаттарды жинақтау.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="event const-container">
        <div class="btn_head">
            <h2 class="const-h2">Оқиғалар</h2>
            <a href="events.html" class="all_event_btn const-h2">Барлық оқиғалар</a>
        </div>
        <div class="event_items">

            <div class="event_item">
                <div class="event_img">
                    <img src="~/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>
                        "Мектепке жол" шарасына 500 мыңдай қаражат жиналғанын хабарлай отырып...
                    </p>
                </div>
                <a href="/Home/EventDetail">Көру</a>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="~/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Берекелі айт</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <a href="/Home/EventDetail">Көру</a>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="~/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <a href="/Home/EventDetail">Көру</a>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="~/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <a href="/Home/EventDetail">Көру</a>
            </div>
            <a href="/Home/Event" class="all_event_btn all_event_btn_2 const-h2">Барлық оқиғалар</a>
        </div>
    </div>
    <!-- <div class="gallery const-container">
       <div class="btn_head">
          <h2 class="const-h2">Фото-галлерея</h2>
          <a href="#" class="const-h2">Барлық фотолар</a>
       </div>
       <div class="gallery_items">
          <div class="gallery_item">
             <img src="img/event.png">
          </div>
          <div class="gallery_item">
             <img src="img/event.png">
          </div>
          <div class="gallery_item">
             <img src="img/event.png">
          </div>
          <div class="gallery_item">
             <img src="img/event.png">
          </div>
       </div>
    </div> -->
</div>

<script type="text/javascript" src="~/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.main-bg').slick({
            dots: false,
            infinite: true,
            speed: 300,
            fade: true,
            cssEase: 'linear',
            autoplay: true
        });

        $('.senim img').click(function (e) {
            e.preventDefault();
            new_src = $(this).attr('src');
            $('.modal-section > img').attr('src', new_src);
            $('.modal-screen').css('display', 'flex');
        })
        $('.close-mod, .modal-bg').click(function () {
            $('.modal-screen').css('display', 'none');
        })

    })
</script>
