
@{
    Layout = "~/Views/Shared/_LayoutRu.cshtml";
}
<link href="~/css/otchetTable.css" rel="stylesheet">

<div class="content">
    <div class="tables const-container">
        <div class="table">
            <h2 class="const-h2">2021 жылы</h2>
            <table>
                <tr>
                    <th>Lorem</th>
                    <th>Lorem</th>
                    <th>Lorem</th>
                    <th>Lorem</th>
                    <th>Lorem</th>
                    <th>Lorem</th>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
                <tr>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                    <td>Lorem</td>
                </tr>
            </table>
        </div>
    </div>
</div>
