
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>


<form asp-action="Login" asp-controller="Admin">

    <input name="Name" type="text" value="FondAdmin" />
    <br />
    <input name="Pass" type="text" value="fond123" />
    <br />
    <input type="submit" value="Button" />
</form>