<link href="~/css/contacts.css" rel="stylesheet">



<div class="content">
    <div class="contact const-container">
        <div class="contact_body">
            <h2 class="const-h2">Байланыс</h2>
            <p>
                050006 Алматы қаласы, Қалқаман 2 ықшам ауданы,
                Үсенов көшесі 12
                <br><br>
                тел.:
                <br>
                <a href="tel:+77007007070">+7 (700) 700-70-70</a>
                <br>
                <a href="tel:+77007007070">+7 (700) 700-70-70</a>
                <br><br>
                email: <a href="">info@meyirim.kz</a>
            </p>
            <br>
            <p>
                <strong>Қордың реквизиттері:</strong>
                <br>
                "Мейірім" ҚОҒАМДЫҚ ҚОРЫ
                <br>
                РНН: 600 900 598 045
                <br>
                БИН: 071040022302
                <br>
                Р/счет: KZ686017131000053274 в АО «Народный банк Казахстана»
                <br>
                БИК: HSBKKZKX
                <br>
                Кбе: 18
                <br>
                КНП: 119
                <br>
                Мекенжай: 050006, Алматы қ., Қалқаман 2 ық.ауд., Үсенов көш. 12
            </p>
        </div>
        <br>
        <div class="contact_map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9931e207c7d776ca2e0ee2b40125fa228ac6860f35e3f26fa5a044ce152075da&amp;source=constructor" width="1000" height="500" frameborder="0"></iframe>
        </div>
    </div>
</div>
