
@{
    ViewData["Title"] = "Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/otchetTable.css" rel="stylesheet">

<div class="content">
    <div class="tables const-container">
        <div class="table">
            <h2 class="const-h2">«Мейірім шуағы» қоғамдық қорының тікелей қамқорлығында(патронаж) болған отбасылар</h2>

            <table>
                <tr>
                    <th>\</th>
                    <th>2019</th>
                    <th>2020</th>
                    @*<th>.</th>
                    <th>.</th>
                    <th>.</th>*@
                </tr>
                <tr>
                    <td>Қамқорлықта болған отбасылар саны</td>
                    <td>50 отбасы</td>
                    <td>20 отбасы</td>
                    @*<td></td>
                    <td></td>
                    <td></td>*@
                </tr>
                <tr>
                    <td>Қамқорлықта болған уақыты</td>
                    <td>2 айдан – 8 айға дейін</td>
                    <td>1 айдан – 4 айға дейін</td>
                    @*<td></td>
                    <td></td>
                    <td></td>*@
                </tr>
                <tr>
                    <td>Қамқорлық нәтижесінде жұмысқа орналасқан отбасылар саны</td>
                    <td>15 отбасы</td>
                    <td>5 отбасы</td>
                    @*<td></td>
                    <td></td>
                    <td></td>*@
                </tr>
                <tr>
                    <td>Қамқорлық нәтижесінде өзін-өзі қамтыған отбасылар қатарына қосылғаны</td>
                    <td>10 отбасы</td>
                    <td>2 отбасы</td>
                    @*<td></td>
                    <td></td>
                    <td></td>*@
                </tr>
            </table>
        </div>
    </div>
</div>

