
@{
    ViewData["Title"] = "Kino";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Kino</h2>

<div>

    <video src="file:///C:/Users/Acer/Desktop/Загрузки/Киномания - Падение Олимпа (2013).mp4"></video>


    <video width="520" height="340" controls>
        <source src="/Типичный программист - Стажировка Sberseasons.mp4" type="video/mp4">
        <source src="/Типичный программист - Стажировка Sberseasons.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
</div>

