
<link href="~/css/pro_events.css" rel="stylesheet">


<div class="content">
    <div class="event const-container">
        <div class="btn_head">
            <h2 class="const-h2">Жобалар</h2>
        </div>
        <div class="event_items">

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>
                        "Мектепке жол" шарасына 500 мыңдай қаражат жиналғанын хабарлай отырып...
                    </p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Берекелі айт</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>
                        "Мектепке жол" шарасына 500 мыңдай қаражат жиналғанын хабарлай отырып...
                    </p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>

            <div class="event_item">
                <div class="event_img">
                    <img src="/img/event.png">
                </div>
                <div class="event_text">
                    <div class="date_block">
                        <h3>Отбасыға жылу сыйла</h3>
                        <p class="date_text">04.09.2020</p>
                    </div>
                    <p>Siberian Wellness компаниясынан дәрігерлерге көмек</p>
                </div>
                <div class="event_btn_block">
                    <a href="">Көру</a>
                    <a href="">Көмектесу</a>
                </div>
            </div>
        </div>
    </div>
</div>
