<link href="~/css/smi.css" rel="stylesheet">

<div class="content">
    <div class="smi const-container">
        <h2 class="const-h2">Телеканалдар біз туралы</h2>
        <div class="smi_items">
            <div class="smi_item">
                <div class="img_block">
                    <img src="~/img/gold.png">
                </div>
                <div class="smi_text_block">
                    <div class="smi_text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cumque adipisci aut neque facilis debitis distinctio
                            veniam at minus commodi eos quod, temporibus voluptatum,
                            cupiditate cum?
                            Cumque adipisci aut neque facilis debitis distinctio
                            veniam at minus commodi eos quod, temporibus voluptatum,
                            cupiditate cum?
                        </p>
                    </div>
                    <a href="" class="more_btn">Толығырақ...</a>
                </div>
            </div>
            <div class="smi_item">
                <div class="img_block">
                    <img src="~/img/gold.png">
                </div>
                <div class="smi_text_block">
                    <div class="smi_text">
                        <h2>Lorem Ipsum</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Cumque adipisci aut neque facilis debitis distinctio
                            veniam at minus commodi eos quod, temporibus voluptatum,
                            cupiditate cum?
                            Cumque adipisci aut neque facilis debitis distinctio
                            veniam at minus commodi eos quod, temporibus voluptatum,
                            cupiditate cum?
                        </p>
                    </div>
                    <a href="" class="more_btn">Толығырақ...</a>
                </div>
            </div>
        </div>
    </div>
</div>
